name: Build WASM Artifact

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install wasm-pack
      run: cargo install wasm-pack
    - name: Build wasm artifact
      run: wasm-pack build --release --no-pack --target web
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: artifact
        path: pkg
